{% load static %}
{% static "" as baseUrl %}

<!doctype html>
<html class="no-js" lang="">
    <head>
        {% include "head.html" %}
    </head>
    <body>

        <header class="site-header">
            <div class="site-header__container container">
                <div class="site-header__inner">
                    <h1 class="site-header__title">
                        Drakonia… Exposed!<br />
                        <small class="site-header__title__sub">the truth is in the air</small>
                    </h1>
                    <a class="site-header__menu-btn js-site-nav-btn" href="#">
                        <span>MENU</span>
                    </a>
                    <nav class="site-nav site-header__menu js-site-nav">
                        <ul class="site-nav__inner">
                            <li class="site-nav__item js-site-nav-item">
                                <a id="us">us</a>
                            </li>
                            <li class="site-nav__item js-site-nav-item">
                                <a id="them">them</a>
                            </li>
                            <li class="site-nav__item js-site-nav-item">
                                <a id="radio">radio</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <main class="main container">
            <div class="row">

                <article class="content">
                <p id="CONTENT">
                    <!-- this is where the js ajax dumps the html from serverside to client-->
                </p> 
                </article>

                <aside class="player--bar player">
                    {% include "bar_player.html" %}
                </aside>
            </div>
        </main>

        <aside class="player--drawer player">
            {% include "drawer_player.html" %}
        </aside>

        <audio class="js-whispers" type="audio/wav" autoplay></audio>

        <script>
            if ('{{path}}' == '/') {
                var cSwitch = "/us/";
                }
            else {
                var cSwitch = "{{path}}";
                };
            function loadContent() {
              var xhttp = new XMLHttpRequest();
              xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                  document.getElementById("CONTENT").innerHTML =
                  this.responseText;
                }
              };
              if (cSwitch == "/us/"){
                xhttp.open("GET", '{% static "html/us.html" %}', true);
                xhttp.send();
                };
              if (cSwitch == "/them/"){
                xhttp.open("GET", '{% static "html/them.html" %}', true);
                xhttp.send();
                };
              if (cSwitch == "/radio/"){
                xhttp.open("GET", '{% static "html/radio.html" %}', true);
                xhttp.send();
                };
            }
            loadContent();
            $( "#us" ).click(function() {
              cSwitch = "/us/";
              loadContent();
                });
            $("#them").click(function(){
                cSwitch = "/them/";
                loadContent();
                });
            $( "#radio").click(function() {
                cSwitch = "/radio/";
                loadContent();
                });
        </script>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-106808514-1', 'auto');
            ga('send', 'pageview');
        </script>

        <script src="{% static 'js/main.js' %}"></script>

        <script>
            var whispers = ['/media/voices/rehtaerb_nawom.wav', '/media/voices/rehtaerb.wav', '/media/voices/retlehs_kees.wav',
                '/media/voices/setadpu_erom.wav', '/media/voices/tsacdaord_ycnegreme.wav', 'media/voices/tset_a_ton.wav',
                '/media/voices/mlac_niamer.wav', '/media/voices/jingle_03c.wav', '/media/voices/jingle_03d.wav',
                '/media/voices/jingle_03f.wav', '/media/voices/jingle_06a.wav', '/media/voices/jingle_11a.wav',
                '/media/voices/jingle_12a.wav'];

            setTimeout(function() {
                var whisperIndex = Math.floor(Math.random() * whispers.length);
                $('.js-whispers').attr('src', whispers[whisperIndex]);
            }, 45000 + Math.floor(Math.random() * 10000));
        </script>
    </body>
</html>
