{% load static %}
{% static "" as baseUrl %}

<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Drakonia… Exposed!</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>

        <header class="site-header">
            <div class="site-header__container container">
                <div class="site-header__inner">
                    <h1 class="site-header__title">
                        Drakonia… Exposed!<br />
                        <small class="site-header__title__sub">the truth is in the air</small>
                    </h1>
                </div>
            </div>
        </header>

        <main class="main container">

            <article class="content">
                <div class="reptoidal">
                    <img src="/media/images/reptialn.jpg" class="reptoidal__img"></img>
                </div>
            </article>

        </main>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-106808514-1', 'auto');
            ga('send', 'pageview');
        </script>

        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
