{% load static %}
{% static "" as baseUrl %}

<!doctype html>
<html class="no-js" lang="">
    <head>
        {% include "head.html" %}
    </head>
    <body>

        <header class="site-header">
            <div class="site-header__container container">
                <div class="site-header__inner">
                    <h1 class="site-header__title">
                        Drakonia… Exposed!<br />
                        <small class="site-header__title__sub">the truth is in the air</small>
                    </h1>
                    <a class="site-header__menu-btn js-site-nav-btn" href="#">
                        <span>MENU</span>
                    </a>
                    <nav class="site-nav site-header__menu js-site-nav">
                        <ul class="site-nav__inner">
                            <li class="site-nav__item">
                                <a href="/us/" class="site-nav__link js-site-nav-link">us</a>
                            </li>
                            <li class="site-nav__item">
                                <a href="/them/" class="site-nav__link js-site-nav-link">them</a>
                            </li>
                            <li class="site-nav__item">
                                <a href="/radio/" class="site-nav__link js-site-nav-link">radio</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <aside class="player--small player">
            {% include "player-small.html" %}
        </aside>

        <main class="main container">
            <div class="row">

                <article class="content js-content"></article>

            </div>
        </main>

        <aside class="player--large player">
            {% include "player-large.html" %}
        </aside>

        <audio class="js-whispers" type="audio/wav" autoplay></audio>

        <script>
            var Site = {
                path: '{{ path }}'
            };
        </script>

        <script src="{% static 'js/main.js' %}"></script>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-106808514-1', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
</html>
