/* stylelint-disable selector-max-type */

@import 'normalize';

@import 'base';


.main {
  padding: 30px 0;
}

.explainer h1 {
  text-transform: uppercase;
  font-weight: 600;
}

.img-rept {
  width: 600px;
  margin-top: 25px;
}

.footer-container footer {
  color: #ffffff;
  padding: 20px 0;
}

@media only screen and (min-width: 641px) {
  .explainer h1 {
    font-size: 4.5rem;
    line-height: 1;
    letter-spacing: 0.02em;
  }
}


@media only screen and (min-width: 1140px) {
  .wrapper {
    width: 1026px; /* 1140px - 10% for margins */
    margin: 0 auto;
  }
}
